table {
	border: 5px solid #BBB;
	border-collapse: collapse;
}

tr {
    line-height: 30px;
	font-size: 14px;
	text-align: center;
	background-color: #FFFFFF;
}

td {
    border: 1px solid #BBB;
}

select {
	color: #003399;
}

.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
}

/* Popup arrow */
/*
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
*/

/* Add animation (fade in the popup) */
/*
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
*/

.title {
	font-size: 16px;
	font-weight: bold;
}
.edit {
	background-color: #FF9900;
}

.del {
	background-color: #FF0000;
}

#showExport, #showFilter {
	height: 28px;
	width: 800px;
	text-align: right;
	font-size: 13px;
	font-weight: bold;
	color: #003399;
}

td.style1
{
	border-style:solid;
	border-color:gray;
	border-width:1px;
		cellspacing=0;
		cellpadding=0;
		padding=2;
		margin=2;
}

