table {
	margin: auto;
}

form {
	display: inline;
}

.title {
	font-size: 20px;
	text-align: center;
}

.menu {
	text-align: center;
}

.header {
	font-size: 16px;
	font-weight: bold;
}

#content {

}

